body{
  overflow-x: hidden;
}
.mainPage{
  background-color: #36454F;
  min-height: 100vh;

}

.header{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 0px;
  color: #ffffff;
}

/*----second section----*/

.searchicon{
  font-size: 25px;
  color: #ffffff;
  margin-right: 10px;
}

.search{
  border-width: 2px;
  border-style: solid;
  border-color: #FF6600;
  width: 250px;
  height: 45px;
  padding: 5px 15px;
  border-radius: 10px;
  
}

.refreshbutton{
  width: 130px;;
  font-size: 20px;
  color: black;
  border-radius: 25px;
  background-color : #D3D3D3;
}


/*------CSS for CARD----*/
.card-body{
  background-color: #36454F;
  color: #ffffff;
  min-height: 330px;
}
.card-title{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

.info{
  display: flex;
  margin : 10px;
}
.title{
  min-width: 90px;
}
.description{
  font-size: 15px;
  color: #D0D0D0;
  margin-left: 10px;
  margin-top: 2px;
}

.countryflag{
  height: 150px;
}


/*---Responsiveness----*/
@media screen and (max-width: 500px) {
  .header{
    font-size: 25px;
  }

  .search{
    width: 200px;
    height: 40px;
    border-radius: 10px;
  }
  .refreshbutton{
    width: 100px;;
    font-size: 15px;
  }
  
}
